<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849117762158-o8akorq0566nfuj1n9mfbl0jpnphop4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849117762158-o8akorq0566nfuj1n9mfbl0jpnphop4f</string>
	<key>API_KEY</key>
	<string>AIzaSyB-7tf6HpMgtirf_YYKXaYQeSyXXKPsf6w</string>
	<key>GCM_SENDER_ID</key>
	<string>849117762158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enitproject</string>
	<key>PROJECT_ID</key>
	<string>enitproject</string>
	<key>STORAGE_BUCKET</key>
	<string>enitproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849117762158:ios:c813b499b40a63f43b4c7f</string>
</dict>
</plist>